<div class="js-modal-trigger" data-target="listingModal">
    <div id="listing" class="tile is-child notification">
        <p class="title">{{title}}</p>
        <p class="subtitle">{{format_date listing_date}}</p>
        <p class="subtitle">{{description}}</p>
        <p class="subtitle lister">Listed by: {{user.username}}</p>
    </div>
</div>
    