<div class="js-modal-trigger" data-target="listingModal">
    <div id="listing" class="tile is-child notification">
        <p class="title">{{title}}</p>
        <p class="subtitle">{{listing_date}}</p>
        <p class="subtitle">{{description}}</p>
        <h3 class="button subtitle is-black">Edit</h3>
    </div>
</div>