<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <ul class="is-family-monospace">
                <li>
                    <a href="/assets/mockups/main.html">Home</a>
                </li>
                <li>
                    <a href="/assets/mockups/search.html">Search</a>
                </li>
                <li>
                    <a href="/assets/mockups/catergories.html">Categories</a>
                </li>
                <li class="tab is-active">
                    <a href="#">Create Listing</a>
                </li>
            </ul>
        </div>
    </nav>
</div>