<section class="Listings p-5">
    <div class="tile is-ancestor flex">
        <div class="tile is-parent justify-content-center">
            <div class="tile is-10 is-child notification">
                {{>edit-listing}}
            </div>
        </div>
    </div>
</section>

