     <div class="signUpModal modal is-clipped">
        <div class="modal-background"></div>
        <div class="modal-content has-background-light py-5 px-5">
            <div class="tile">
                <form>
                    <div class="field">
                        <label for="" class="label">
                            Name
                        </label>
                        <div class="control">
                            <input class="" placeholder="John Parker">
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Username</label>
                        <div class="control">
                            <input class="" placeholder="coolUsername">
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Email</label>
                        <div class="control">
                            <input class="" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Password</label>
                        <div class="control">
                            <input class="" placeholder="********"></input>
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Wish List</label>
                        <div class="control">
                            <textarea name="" id="" cols="30" rows="2"
                                placeholder=" Skateboard, Cook Books, Knitting Supplies"></textarea>
                        </div>
                    </div>
                    <div class="mt-6 has-test centered">
                        <button class="button" id="formSubmit" type="submit">Submit</button>
                    </div>
                </form>
                <div class="mt-5 pt-5">
                    <img src="/assets/images/banner2.png">
                    <!-- <img src="/assets/images/My project-1 (1).png"> -->
                </div>
        
            </div>
        </div>
    </div>
    <button id="modalClose" class="modal-close is-large" aria-label="close"></button>
    </div>