<link  href="/css/style.css">
<section class="Listings tile level p-5 flex">
    {{#each listings as |list|}}
    <div class="tile is-4 p-3 listing flex">
        {{>user-listings}}
    </div>
    {{/each}}
</section>